.projects-section {
  background-image: url('../../assets/backgrounds/double-spiral.png');
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.dark-theme .projects-section {
  background-image: url('../../assets/backgrounds/dark-mode-double-spiral.png');
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.projects-container {
    padding-top: 100px; 
    padding-bottom: 100px;
  }