.hero-container {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.hero-section {
    background-image: url('../../assets/backgrounds/spiral.png');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-top: 30px;
}

.dark-theme .hero-section {
    background-image: url('../../assets/backgrounds/dark-mode-double-spiral-flipped.png');
    background-repeat: no-repeat; 
    background-attachment: fixed;
}


.globe {
    margin-right: 133px;
}

.school {
    margin-right: 23px;
}
  
.image-column {
    width: 100%;
}

.text-column {
    width: 100%;
}

.reach-out-button {
    cursor: pointer;
}

.sub-hed-text, .hello-text {
    text-align: center;
}

.icon-container {
    text-align: center;
}

.logo:hover {
    background-color: #6a6a6a;
}

.hero-section-button {
    padding: 20px;
}

.scroll-container {
    padding-top: 100px;
}


.scroll-down {
    width: 32px;
    height: 32px;
	border-radius: 50%;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
