.contact-section {
  background-image: url('../../assets/backgrounds/flipped-spiral.png');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  padding-top: 100px; 
  padding-bottom: 100px;
}

.contact-container {
    padding-top: 100px; 
    padding-bottom: 100px;
  }