.work-section {
    padding-top: 100px; 
    padding-bottom: 100px;
  }
  

.vertical-timeline::before {
    background: black !important;
}
  
.date {
    color: rgb(123, 123, 123);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


